{% extends 'base.html' %}

{% block content %}
    
    <h2>Members: </h2>

    {% for member in members %}
        <p>Name: {{ member.name }} Active: {{ member.active }}</p>
        <a href="/members/{{ member.id }}">View member</a>
        <form action="/members/{{member.id}}/delete" method='POST'>
            <input type="submit" value="Delete member">
        </form>
        <form action="/members/{{member.id}}/edit" method='GET'>
            <input type="submit" value="Edit member">
        </form>
    {% endfor %}

    <p><a href="/members/new">Add a new member</a></p>

{% endblock %}