{% extends 'base.html' %}

{% block content %}

    <h2>Trainers</h2>

    <div class='card_cont'>
    {% for trainer in trainers %}
    
        <div class='card'>
       
        <p><strong>name:</strong> {{ trainer.name }} <strong>ID:</strong> {{ trainer.id }} <strong>active:</strong> {{ trainer.active }}</p>
        
        <div class='button-box'>
            <form action="/trainers/{{ trainer.id }}" class='push'>
                <input type="submit" value='View trainer' class='link'>
            </form>
            
            <form action="/trainers/{{ trainer.id }}/edit" >
                <input type="submit" value='Edit trainer' class='link'>
            </form>

            <form action="/trainers/{{ trainer.id }}/delete" method="POST">
                <input type="submit" value="Delete trainer" class='link'>
            </form>
        </div>
        
     
        </div>

    {% endfor %}
    </div>

    <p></p>
    <a href="/trainers/new" class='add_new'>+ Add new trainer</a>
   
{% endblock %}