@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@300;400&display=swap');

*{
    font-smooth: auto;
}

#logo {
    font-family: 'Quicksand',sans-serif;
    font-weight: 300;
    font-size: 56px;
    margin-left: 3%;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body {
    font-size: 20px;
    font-family: 'Quicksand',sans-serif;
}

h2 {
    text-shadow: 1px 1px white,
    -1px -1px white,
    1px -1px white,
    -1px 1px white;
    margin-left: 15px;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
}

header > nav > ul > li {
    list-style: none;
}

header > nav > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.content-box {
    background-color: rgb(245, 113, 53);
    border-radius: 20px;
    padding: 2%;
    width: 75%;
    margin: auto;
    padding-bottom: 30px;
}

.add_new {
    position: sticky;
    bottom: 10px;
    margin-left: 5px;
    padding: 20px;
    background-color: cornflowerblue;
    text-decoration: none;
    color: white;
    border-radius: 999em;
    transition: all 0.5s;
}

.add_new:hover {
    background-color: rgb(53, 117, 235);
    transform: scale(1.1);
}

.card_cont {
    display: grid;
    padding-bottom: 25px;
}

.card {
    background-color: whitesmoke;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    box-shadow: 3px 3px 3px rgb(182, 182, 182);
}

footer {
    float: right;
    position: static;
    bottom: 0;
}

footer > h6 {
    margin-right: 15px;
}

button,.link {
    background-color: cornflowerblue;
    color: white;
    border: none;
    font-family: 'Quicksand',sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin: 1px;
    text-decoration: none;
    height: 45px;
    animation: background-color 0.5s;
    justify-self: end;
}

button:hover,.link:hover {
    background-color: rgb(53, 117, 235);
}



#roster-body {
    background-color: white;
    border-radius: 10px;
    padding: 15px
}

.form-new {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: grid;
}


input,select {
    padding: 5px;
    margin: 3px;
}

.button-box {
    display: flex;
    margin-left: auto;
}

@media screen and (max-width:600px) {

    body{
        font-size: 18px;
    }

    .content-box{
        width: 90%;
    }
}
