{% extends 'base.html' %}

{% block content %}
    
    

    <h2>All Activities</h2>

   
    <div class='card_cont'>
    {% for activity in activities %}
    <div class='card'>
        <p><strong>Name:</strong> {{ activity.name }} </p>
        <p> <strong>Date:</strong> {{ activity.date }} {{ activity.time }} </p>
        <p> <strong>Trainer:</strong> {{ activity.trainer.name }} Activity ID: {{ activity.id }}</p>
        <p><strong>Capacity:</strong> {{ activity.capacity }}</p>

        <div class='button-box'>
            <!-- view roster -->
            <form action="/activities/{{ activity.id }}" class='push'>
                <button>View Roster</button>
            </form>
            <!-- edit activity -->
            <form action="/activities/{{ activity.id }}/edit" >
                <button>Edit Activity</button>
            </form>
            <!-- delete activity -->
            <form action="/activities/{{ activity.id }}/delete" method='POST'>
                <button>Delete Activity</button>
            </form>
        </div>
    </div>
    {% endfor %}
    </div>
    
    <a href="/activities/new" class='add_new'>+ Add new activity</a>

{% endblock %}