{% extends 'base.html' %}

{% block content %}
    
    

    <h2>All Activities</h2>

   
    <div class='card_cont'>
    {% for activity in activities %}
    <div class='card'>
        <p>name: {{ activity.name }} date: {{ activity.date }} {{ activity.time }} trainer: {{ activity.trainer.name }} activity id: {{ activity.id }}</p>
        <form action="/activities/{{ activity.id }}/edit">
            <button>Edit Activity</button>
        </form>
    </div>
    {% endfor %}
    </div>
    
    <a href="/activities/new" class='add_new'>+ Add new activity</a>

{% endblock %}