<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spottr</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/activities">Activities</a>
            </li>
            <li>
                <a href="/members">Members</a>
            </li>
            <li>
                <a href="/trainers">Trainers</a>
            </li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

</body>
</html>