{% extends 'base.html' %}

{% block content  %}

<h2>Upcoming Activites</h2>

<div class='card_cont'>
    {% for activity in activities %}
    <div class='card'>
        <p><strong>{{ activity.name }}</strong> {{ activity.date }} {{ activity.time }}</p>
        
        <div class='button-box'>
            <form action="/activities/{{ activity.id }}">
                <input type="submit" value='View roster' class='link'>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<a href="/bookings/new" class='add_new'>+ Make a new booking</a>

{% endblock  %}

